/* Utilities */
@use "utilities/variables";
@use "utilities/mixins";

/* Base */
@use "base/reset";
@use "base/base";

/* Layout */
@use "layout/header";
@use "layout/footer";
@use "layout/sections";

/* Components */
@use "components/buttons";
@use "components/forms";
@use "components/carousel";

/* Animations */
@use "animations/animations";

/* Responsive (SIEMPRE AL FINAL) */
@use "responsive/responsive";
